


<div class="row section featured topspace">
    <h1 class="section-title"><span>Proyectos</span> &nbsp; <i class="bi bi-terminal-fill"></i> </h1>



 <div class="thumbnails recentworks row"  >
        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" *ngFor="let proyecto of proyecto">
            <a class="thumbnail" href={{proyecto.url}} target="_blank" >
                <span class="img" >
                    <img src="{{proyecto.imagen}}" alt="" >
                    <span class="cover"><span class="more">See details &rarr;</span></span>
                </span> 
                <span class="title"> <strong>{{proyecto.nombre}} <br> <h3>Año: {{proyecto.fecha}}</h3> </strong> </span>
                <article class="post">
                    <div class="entry-content">
                        <p>{{proyecto.descripcion}}</p>
                    </div> 
                </article>
            </a>
                <button type="button" style="margin: 10px" class="btn btn-dark" routerLink="/editProyecto/{{proyecto.id}}" *ngIf="isLogged"><i class="bi bi-pencil"></i></button>
                <button type="button" class="btn btn-danger"  (click)="delete(proyecto.id)"  *ngIf="isLogged"><i class="bi bi-x-octagon"></i></button> 
                
            
        </div> 

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a class="thumbnail" routerLink="/newProyecto" *ngIf="isLogged">
                <span class="img">
                    
                    <span class="cover"><span class="more">Agregar Proyecto &rarr;</span></span>
                </span>
                
            </a>
            
            
        </div> 
        
    </div> 
</div>

