<div class="row section featured topspace">
    <h2 class="section-title"><span>Proyectos</span></h2>
    

    
    <div class="thumbnails recentworks row">
        
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a class="thumbnail" href="sidebar-right.html">
                <span class="img">
                    <img src="assets/images/python.webp" alt="">
                    <span class="cover"><span class="more">See details &rarr;</span></span>
                </span>
                <span class="title">Aplicacion Web con Python Año 2018S</span>
            </a>
            
            <h4></h4>
            <p></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <a class="thumbnail" href="sidebar-right.html">
                <span class="img">
                    
                    <span class="cover"><span class="more">Agregar Proyecto &rarr;</span></span>
                </span>
                
            </a>
            
            <h4></h4>
            <p></p>
        </div>
        
    </div>

</div>
