.entry-content p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.entry-content{
    align-content: center;
}

header{
    margin-top: auto;
}

#mail{
    color: brown;
}