.entry-content p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.entry-content{
    align-content: center;
}

header{
    margin-top: 0px;
    top:0px;
    padding-top: 0px;
    padding: 0px;
    margin: 0px;
}

#mail{
    color: brown;
    font-size: small;
}
#header{
    top: 0px;
}