ul{
    padding-top: 10px;
    padding-left: 20px;
}

.col-xs-12 .col-sm-6 .col-md-4 .col-lg-4 {
    display: flex;
}

.card-header{
    background-color: rgb(228, 145, 90);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;

}
.card {
    padding-left: 20px;
}

.card-title{
    padding-left: 40px;
    padding-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}
.btn.btn-primary{
    background-color: rgba(77, 41, 41, 0.384);
    border-color: rgb(0, 0, 0);
    font-size:small;
    align-content: center;
    border-color: black;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    align-items: center;
}
.card-title{
    background-color: rgb(214, 214, 210);
}
.btn.btn-danger{
    font-size: small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn.btn-dark{
    font-size: small;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}