<div class="row section recentworks topspace">
			
  <h1 class="section-title"><span>Hard & Soft Skills</span> &nbsp; <i class="bi bi-clipboard2-data"></i></h1>
<br>
<div class="d-grid gap-2 d-md-block" >
  <button type="button" id="agregar"  class="btn btn-primary" routerLink="/newSkill" *ngIf="isLogged">
    <i class="bi bi-plus-square"></i> Agregar Skill
  </button>
</div>
<div class="row" >
  <div class="text-center col-sm-3 col-md-4 col-lg-3" *ngFor="let skill of skill">
    <h4>{{skill.nombre}}</h4>
    <circle-progress
      [percent]="(skill.porcentaje)"
      [radius]="80"
      [imageSrc]="(skill.imagen)"
      [showImage]="false"
      titleFontWeight=600
      unitsFontWeight=800
      [showTitle]="true"
      [showUnits]="true"
      [titleFontSize]="'35px'" 
      backgroundColor="#d6dcf0" 
      subtitleColor = #342727
      [imageHeight]="80"
      [imageWidth]="80"
      [outerStrokeWidth]="6"
      [innerStrokeWidth]="3"
      [outerStrokeColor]="'red'"
      [innerStrokeColor]="'#2f4f4f'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    <br>
    <button type="button" style="margin: 10px" class="btn btn-dark" routerLink="/editSkill/{{skill.id}}" *ngIf="isLogged"><i class="bi bi-pencil"></i></button>
    <button type="button" class="btn btn-danger"  (click)="delete(skill.id)"  *ngIf="isLogged"><i class="bi bi-x-octagon"></i></button> 
   <!-- <button type="button" style="margin: 10px" class="btn btn-dark" routerLink="/editSkill/{{skill.id}}" *ngIf="isLogged">Cargar imagen</button> -->
  </div>
  
</div>
</div>