div{
    background-color: rgb(143, 136, 136);
    
    
}

#home{
    color: black;
    width: auto;
    height: 40px;
}
em .bi .bi-house-door{
    width: 60%;
}
p em{
    width: 60%;
}
button{
    background-color: rgb(89, 80, 221);
    border-color: black;
}
.row{
    width: 100%;
}
.logo{
    width: 10%;
    justify-content: left;
    line-height: 20px;

}
img{
    
    width:auto;
    height: 40px;
   
}

.redes {
    text-align: right;
    line-height: 50px;
}


nav{
    
    padding-top: 0%;
    padding: 0px;
    margin-block:initial;
    width: 100%;
    margin-top: 0px;
}
.navbar{
    width: 100%;
}

.container{
    width:100%;
}

.nav-item{
    padding-left: 360px;
}