div{
    background-color: rgb(143, 136, 136);
    
    
}
button{
    background-color: rgb(89, 80, 221);
    border-color: black;
}
.row{
    width: 100%;
}
.logo{
    width: 10%;
    justify-content: left;
    line-height: 20px;

}
a img{
    
    width: 50px;
   
}

.redes {
    text-align: right;
    line-height: 50px;
}


nav{
    
    padding-top: 0%;
    padding: 0px;
    margin-block:initial;
    width: 100%;
}
.navbar{
    width: 100%;
}

.container{
    width:100%;
}