<!--<header >
<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../../assets/images/arg-programa.png"  id="logo">
        </div>

        

        <div class="redes">
            <a href="http://"><img src="../../../../assets/images/logo.inst.png" alt=""> </a>
            <a href="http://"><img src="../../../../assets/images/logo.face.png" alt=""> </a>
            <a href="http://"><img src="../../../../assets/images/logo.link.png" alt=""> </a>
            <button type="button" class="btn btn-primary" (click)="login()">Ingreso</button>
        </div> 
    </div>
</div>
</header>-->
<!-- Navbar -->

<nav class="navbar navbar-expand-xl navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      
        <img
          src="../../../../assets/images/arg-programa.png"
          height="40"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: -1px;"
        />
      
  
      
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a href="https://www.instagram.com/nicocontirp/"><img src="../../../../assets/images/instagram1.png" alt=""> </a>
            <a href="https://www.facebook.com/nico.conti.rp.10"><img src="../../../../assets/images/facebook1.png" alt=""> </a>
            <a href="https://www.linkedin.com/in/nicolas-conti-a4283242/"><img src="../../../../assets/images/linkedin1.png" alt=""> </a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-primary me-3" (click)="login()" *ngIf="!isLogged">
            Iniciar Sesion
          </button>
          <button type="button" class="btn btn-primary me-3" (click)="onLogOut()" *ngIf="isLogged">
            Cerrar Sesion
          </button>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->






                
                