<!--
  <nav>
      
        <a href="" >
          <img
          src="../../../../assets/images/logo-arg-prog-.png"
          height="40"
          class="logo"
        />
        </a>
        
       
   
      
  
      
        <section class="sociales">
          <li>
            <a href="https://www.instagram.com/nicocontirp/" target="_blank"><img src="../../../../assets/images/instagram1.png" alt="" style="text-align: center;" class="red"> </a>
            <a href="https://www.facebook.com/nico.conti.rp.10" target="_blank"><img src="../../../../assets/images/facebook1.png" alt="" style="text-align: center;" class="red"> </a>
            <a href="https://www.linkedin.com/in/nicolas-conti-a4283242/" target="_blank"><img src="../../../../assets/images/linkedin1.png" alt="" style="text-align: center;" class="red"> </a>
          </li>
        </section>
      
  
        <div class="d-flex align-items-center align-content-right">
          <button type="button" class="btn btn-primary me-3" (click)="login()" *ngIf="!isLogged">
            Iniciar Sesion
          </button>
          <button type="button" class="btn btn-primary me-3" (click)="onLogOut()" *ngIf="isLogged">
            Cerrar Sesion
          </button>
        </div>
</nav>
-->

 <nav class="navbar navbar-expand-lg bg-light fixed-top  margin-bottom=30px">
  <div class="container-fluid">
    <img src="../../../../assets/images/logarg1.jpg" class="img-fluid" width="90px">
    
      <form  role="login">
        <a href="https://www.instagram.com/nicocontirp/" target="_blank"><img src="../../../../assets/images/instagram1.png" width="40px"></a> 
        <a href="https://www.facebook.com/nico.conti.rp.10" target="_blank"><img src="../../../../assets/images/facebook1.png" width="40px" ></a>
        <a href="https://www.linkedin.com/in/nicolas-conti-a4283242/" target="_blank"><img src="../../../../assets/images/linkedin1.png" width="40px" ></a> 
      </form>

    
         
      <button type="button" class="btn btn-primary me-3" (click)="login()" *ngIf="!isLogged">LogIn</button>
      <button type="button" class="btn btn-primary me-3" (click)="onLogOut()" *ngIf="isLogged">LogOut</button>
   
  </div>
 </nav>               
                