<div>
<app-logo></app-logo>
<app-social></app-social>
</div>



<!--<body class="home">
    <header id="header">
        <nav class="navbar navbar-default navbar-sticky">
            <div class="container-fluid">
                
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                </div>
                
                <div class="navbar-collapse collapse">
                    
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">Pagina Principal</a></li>
                        <li><a href="about.html">Datos Personales</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trayecto Profesional <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="educacion.html">Educacion</a></li>
                                <li><a href="experiencia.profesional.html">Experiencia Profesional</a></li>
                                <li><a href="habilidades.html">Habilidades</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html">Blog</a></li>
                    </ul>
                
                </div>	
            </div>	
        </nav>
    </header>
</body>
-->