<main id="main">

	<div class="container">
		
		<div class="row section topspace">
			<div class="col-md-12">
				<p class="lead text-center text-muted">Elige un empleo que te guste y no tendras que trabajar ni un dia mas en la vida</p>
			</div>
		</div> <!-- / section -->
		
		<div class="container">
			<div class="row topspace">
				<div class="col-sm-8 col-sm-offset-2">
																
					<article class="post">
						<header class="entry-header">
							<h1 class="entry-title"><a href="single.html" rel="bookmark">Acerca de mi..</a></h1>
						</header>
						<div class="entry-content">
							<p>Mi nombre es Ever Nicolas Conti soy Licenciado en seguridad e higiene laboral, me desempeño actualmente en esa profesion pero me estoy involucrando en la programacion, para ello me estoy perfeccionando mediante cursos y asi poder entrar en el mercado laboral..!!</p>
						</div>
					</article>
				</div>
			</div>
		</div>
		<div class="row section featured topspace">
			<h2 class="section-title"><span>Servicios</span></h2>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">Seguridad e Higiene laboral</h3>
					<p>I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i did the same thing to gandhi, he didn't eat for three weeks. i once heard a wise man say there are no perfect men.</p>
					<p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
				</div>
				<div>
				</div>
				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">Capacitacion del personal</h3>
					<p>I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i did the same thing to gandhi, he didn't eat for three weeks. i once heard a wise man say there are no perfect men.</p>
					<p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
				</div>
                <div class="col-sm-6 col-md-3">
					<h3 class="text-center">Gestion de documentacion</h3>
					<p>I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i did the same thing to gandhi, he didn't eat for three weeks. i once heard a wise man say there are no perfect men.</p>
					<p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
				</div>
				<div class="col-sm-6 col-md-3">
					<h3 class="text-center">Programacion Python</h3>
					<p>I don't think they tried to market it to the billionaire, spelunking, base-jumping crowd. i did the same thing to gandhi, he didn't eat for three weeks. i once heard a wise man say there are no perfect men.</p>
					<p class="text-center"><a href="" class="btn btn-action">Read more</a></p>
				</div>
				
			</div>
		</div> <!-- / section -->
	
		<div class="row section recentworks topspace">
			
			<h2 class="section-title"><span>Proyectos</span></h2>
			
			<div class="thumbnails recentworks row">
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="assets/images/python.webp" alt="">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
						<span class="title">Aplicacion Web con Python</span>
					</a>
					
					<h4></h4>
					<p></p>
				</div>
				
			</div>

		</div> <!-- /section -->
		<div class="row section recentworks topspace">
			
			<h2 class="section-title"><span>Experiencia laboral</span></h2>
			
			<div class="thumbnails recentworks row">
				
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="assets/images/Tipci2.jpg" alt="">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
						<span class="title">Tecnico en Seguridad e Higiene</span>
					</a>
					
					<h4></h4>
					<p></p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
					<a class="thumbnail" href="sidebar-right.html">
						<span class="img">
							<img src="assets/images/Tipci2.jpg" alt="center">
							<span class="cover"><span class="more">See details &rarr;</span></span>
						</span>
						<span class="title">Responsable en Seguridad e Higiene</span>
					</a>
					
					<h4></h4>
					<p></p>
				</div>
				
			</div>

		</div> <!-- /section -->
		<div class="row section recentworks topspace">
			<div class="container">
			<div class="row topspace">
				<div class="col-sm-8 col-sm-offset-2">
																
					<article class="post">
						<header class="entry-header">
							<h2 class="section-title"><span>Educacion</span></h2>
						</header>
						<div class="entry-content">
							<li>Estudio Secundario</li>
							<li>Estudio Terciario</li>
							<li>Estudio Universitario</li>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
		<div class="row section topspace">
			<div class="panel panel-cta"><div class="panel-body">
				<div class="col-lg-8">
					<p> <strong> Las ideas valen oro, Agradecelas y Respetalas</strong> </p>
				</div>
				<div class="col-lg-4 text-right">
					<a href="http://www.gettemplate.com/downloads/initio.zip " class="btn btn-primary btn-lg">Descargar template</a>
				</div>
			</div></div>
		</div> <!-- /section -->

		

	</div>	<!-- /container -->

</main>
